<!DOCTYPE html>
<html>
  <head>
    <title>好单线报</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/minireset.css/0.0.2/minireset.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1534407_cqy0t98abrg.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/vant/2.12.12/index.css">
    <script src="https://cdn.staticfile.org/promise-polyfill/8.2.0/polyfill.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vant/2.12.12/vant.min.js"></script>
    <script src="https://img.bc.haodanku.com/cdn/vant-touch-emulator.js"></script>
    <script src="https://img.bc.haodanku.com/cms/SpaUtils.min.js"></script>
    <script src="https://img.bc.haodanku.com/cms/SdkUtils.min.js"></script>
    <script src="https://img.bc.haodanku.com/cdn/tsUtils.js"></script>
    <meta name="referrer" content="no-referrer">
    <script defer>document.write('<link rel="stylesheet" href="https://img.bc.haodanku.com/cms/rt_xb.css?t=' + (Date.now() - Date.now() % (60 * 1000)) + '"/>')</script>
    <script src="https://img.bc.haodanku.com/cms/utils.v1_0_5.js"></script>
  </head>
  <body>
    
<script>
Vue.component("share", {
  template: "#c-share",
  methods: {
    handleShare: function() {
      this.$emit("share");
    }
  }
});
</script>
    <template id="c-list-item">
  <div class="goods-card-v2">
    <div class="type-title">
      <img
        v-if="item.platform == 2"
        class="jd"
        src="http://img-haodanku-com.cdn.fudaiapp.com/Fi4ijtJvI0QJWqmMpwI2sWQ5gOJn"
        alt=""
      >
      <img
        v-else-if="item.platform == 1"
        class="tb"
        src="http://img-haodanku-com.cdn.fudaiapp.com/Fgj3o1aNeDaQe0BRrAqXSDx1pyz0"
        alt=""
      >
      <span class="text">{{title}}</span><span class="time">{{item.startTime}}</span>
    </div>
    <div class="detail-block">
      <div class="row" v-for="(item,index) in list">
        <div class="cover-block" v-if="item.image">
          <img v-on:click="previewImg(index)" referrerpolicy="no-referrer" v-bind:src="item.image" alt="">
        </div>
        <div class="content-block" ref="copyBase">
          <ul>
            <li v-for="it in item.content">
              <div v-if="it.type === ContentTypes.text" class="title">{{it.value+"\n"}}</div>
              <template v-else>
                <button class="btn buy" v-on:click="buy($event,it)">{{it.type === ContentTypes.coupon?"去领劵":"马上抢"}}
                </button>
                <div class="transfer"><br>{{it.transfer}}</div>
                <!--              <div style="word-break: break-all;">{{it.transfer}}</div>-->
              </template>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btn-block">
      <button class="btn copy-text" v-on:click="transferAndCopy($event)">复制文案</button>
    </div>
  </div>
</template>
<script>
const ContentTypes = {
  text: "text",
  coupon: "coupon",
  code: "code"
};
Vue.component("list-item", {
  template: "#c-list-item",
  props: {
    item: Object,
    title: String
  },
  data: function() {
    return {
      ContentTypes,
      list: []
    };
  },
  computed: {},
  watch: {
    item: {
      immediate: true,
      deep: true,
      handler(n) {
        if(!n) return;
        n.startTime = tsUtils.formatDate(new Date(n.starttime * 1000));
        let arr;
        if(Array.isArray(n.step) && n.step.length) {
          arr = n.step;
        } else {
          arr = [{content: n.list, image: n.images[0]}];
        }
        this.list = arr.map((item) => {
          /**
           * @type {{value:string, transfer:string, type:ContentTypes[keyof ContentTypes]}[]}
           */
          const content = [];
          item.content.forEach((v) => {
            const result = {value: v.content, type: ContentTypes.text, transfer: ""};
            content.push(result);
            if(v.hasOwnProperty("item_id")) {
              result.type = ContentTypes.code;
              result.value = v["item_id"];
            } else if(v.hasOwnProperty("coupon_url")) {
              result.type = ContentTypes.coupon;
              result.value = v["coupon_url"];
            }
          });
          return {content: content, image: this.getImage(item.image)};
        });
      }
    }
  },
  methods: {
    getImage(img) {
      if(!img) return "";
      return img.replace(/https?:/, "");
    },
    previewImg(index) {
      vant.ImagePreview({
        images: this.list.map(function(it) {
          return it.image;
        }),
        startPosition: index || 0
      });
    },
    buy(e, listItem) {
      if(listItem.type === ContentTypes.coupon) {
        const link = listItem.value;
        vant.Dialog.confirm({
          message: "是否打开领劵页面?"
        }).then(() => {
          window.SdkUtils ? SdkUtils.openPage(link) : (window.top.location = listItem.value);
        },()=>{
          SpaUtils.copy(link,"复制优惠劵链接成功");
        });
        return;
      }
      this.$parent.handleGoodsTransfer({e: e, goodsItem: this.item, listItem});
    },
    transferAndCopy(e) {
      const list = this.list;
      const parent = this.$parent;
      const strArr = list.map((it) => {
        return it.content.map((item) => {
          if(item.type === ContentTypes.text || item.type === ContentTypes.coupon) {
            return item.value;
          } else {
            const res = parent.handleGoodsTransfer({e, goodsItem: this.item, listItem: item, isCopy: true});
            return SpaUtils.inWechat() ? (res.data.short_url || res.data) : (res.link || res.data.short_url || res.data);
          }
        }).join("\n");
      });
      SpaUtils.copy(strArr.join("\n\n"), "文案复制成功", "复制失败,请点击重试", true);
    }
  }
});
</script>

    <!--script(src="https://img.bc.haodanku.com/cms/SdkUtils.min.js")-->
    <div class="page-container" id="single-page-app" v-cloak>
      <div class="banner-wrapper"><img class="free-banner" v-bind:src="banner" alt=""></div>
      <div class="page-content" ref="list" v-bind:class="{'empty-list':!listData.list.length}">
        <ul class="nav">
          <li class="btn" v-for="(item, index) in nav.list" v-bind:class="{active: index === nav.activeIndex}" v-on:click="onNavChange(index)">{{ item.type_name }}</li>
        </ul>
        <div class="lists">
          <template v-if="listData.list.length || listData.finished">
            <list-item class="free-item" v-for="(item, index) in listData.list" v-bind:item="item" v-bind:key="index" v-bind:title="activeNav.type_name" v-on:buy="handleGoodsTransfer($event,item,'link')" v-on:share="handleGoodsTransfer($event,item,'copy')"></list-item><!-- 底部提示 -->
            <div class="list-item-loading"><span v-if="listData.finished">没有更多商品了~</span><span v-else>数据正在赶来的路上...</span></div>
          </template><!-- 加载效果 -->
        </div>
      </div>
      <div class="btn back-top" v-show="scrollTop &gt; 1000" v-on:click="backTop"></div>
      <share v-on:share="handleShare"></share>
      <van-overlay v-bind:show="loading">
        <van-loading color="#0094ff"></van-loading>
      </van-overlay>
    </div>
    <script>
      Vue.use(vant.Lazyload, {
  preLoad: 1.3,
  error: "http://img.bc.haodanku.com/haodanku/1595237918",
  loading: "http://img.bc.fqapps.com/fudai13cae4ae6ef16739ed3b100a2ec39e97.gif",
  attempt: 1
});

var listDataStr = JSON.stringify({
  list: [],
  loading: false,
  finished: false,
  min_id: 1,
  pageTotal: 1,
  pageCurrent: 0
});


// 根据微信浏览器缩放比例设置rem缩放
if(SpaUtils.inWechat() && "ontouchstart" in window) {
  const scale = SpaUtils.getFontScale(true);
  document.documentElement.style.fontSize =
    "calc(13.33333vw * " + scale + ")";
}


var baseMixin = {
  el: "#single-page-app",
  data: function() {
    return {
      listData: JSON.parse(listDataStr),
      scrollTop: 0,
      isScrollToDown: false
    };
  },
  created: function() {
    this.getListData();
  },
  watch: {
    scrollTop: function(n, o) {
      this.isScrollToDown = n > o;
    }
  },
  mounted: function() {
    var that = this;
    window.addEventListener("scroll", function(ev) {
      that.scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      if(SpaUtils.isScrollEnd(this, "vertical", 40)) {
        that.onScrollEnd();
      }
    });
  },
  methods: {
    onScrollEnd: function() {
      this.getListData();
    },
    resetListData: function() {
      this.listData = JSON.parse(listDataStr);
    },
    getListDataParams: function(item) {
      throw new Error("需要使用了该mixins的组件实现listDataParams函数");
    },
    getListData: function() {
      throw new Error("需要使用了该mixins的组件实现getListData函数");
    },
    getTransferParams: function() {
      throw new Error("需要使用了该mixins的组件实现transferParams函数");
    },
    handleGoodsTransfer: function() {
      throw new Error("需要使用了该mixins的组件实现handleGoodsTransfer函数");
    },
    /**
     * 分享给好友
     */
    handleShare: function() {
      SpaUtils.copy(location.href, "复制成功，分享给身边好友吧~");
    }
  }
};var indexMixin = (function() {
  var that;
  window.PlatformTypes = {
    tb: "1",
    jd: "2"
  };
  baseMixin.created = undefined;
  return {
    mixins: [baseMixin],
    directives: {
      sticky: sticky
    },
    data: function() {
      return {
        nav: {
          list: [],
          activeIndex: 0
        },
        banner: "http://img-haodanku-com.cdn.fudaiapp.com/FhRoRudSKzdJb902U9JPKQ693Qxz",
        loading: false
      };
    },
    mounted: function() {
      that = this;
      this.getListData(true);
    },
    computed: {
      activeNav: function() {
        return this.nav.list[this.nav.activeIndex];
      }
    },
    methods: {
      scrollToList: function() {
        var top = this.$refs.list.offsetTop;
        var searchBoxHeight = this.$refs.searchBox.offsetHeight;
        window.scrollTo(0, top - searchBoxHeight);
      },
      onNavChange: function(index) {
        if(this.listData.loading || this.nav.activeIndex === index) return;
        this.nav.activeIndex = index;
        this.reGetListData();
      },
      resetListData: function() {
        this.listData = {
          list: this.listData.list,
          loading: false,
          finished: false,
          min_id: 1
        };
      },
      reGetListData: function() {
        this.resetListData();
        return this.getListData(true);
      },
      /**
       * 获取商品数据
       * @param {boolean} [clean = false]
       */
      getListData: function(clean) {
        if(this.loading || this.listData.loading || this.listData.finished) return;
        this.listData.loading = true;
        if(clean) {
          this.loading = true;
        }
        var params = Object.assign(
          {
            type: (this.activeNav || {type_id: "0"}).type_id, //	必填	类型：0全部、1京东实时线报、2券优惠、3天猫凑单、4天猫超市、5整点抢购、6淘宝实时线报
            min_id: this.listData.min_id,
            min_size: 10,
            version: "v2.1.0"
          },
          this.getListDataParams()
        );

        var obj = SpaUtils.Request.get(SpaUtils.addProtocol("v2.api.haodanku.com/wire_report"), params);
        // this.getListDataAbort = obj.ajax.abort.bind(obj.ajax);
        obj.promise.then(function(res) {
          var navList = res.label || [];
          navList.sort(function(a, b) {
            return a.type_name.length - b.type_name.length;
          });
          that.nav.list = navList;
          var listData = res.data || [];
          setTimeout(function() {
            if(clean) {
              that.listData.list = listData;
            } else {
              that.listData.list = that.listData.list.concat(listData);
            }
            var min_id = res.min_id;
            that.listData.finished = that.listData.min_id == min_id || !listData.length;
            that.listData.min_id = min_id || that.listData.min_id;
            // 微信浏览器 promise没有finally
            that.listData.loading = false;
            that.loading = false;
          }, 200);
        }).catch(function(e) {
          console.error(e);
          if(clean) {
            that.listData.list = [];
          }
          that.listData.finished = true;
        }).finally(function() {
          setTimeout(function() {
            that.listData.loading = false;
            that.loading = false;
          }, 250);
        });
        return obj.promise;
      },
      generateTransferParamAndUrl({listItem, goodsItem}) {
        const isJd = goodsItem.platform === PlatformTypes.jd;
        const param = {
          ...(
            isJd ?
              {
                material_id: listItem.value,
                type: PlatformTypes.jd
              } :
              {
                title: "好单线报",
                itemid: listItem.value,
                domain: window.location.host
              }
          ),
          ...this.getTransferParams(isJd)
        };
        const url = ({
          [PlatformTypes.tb]: "tkf.ink/ratesurl/",
          [PlatformTypes.jd]: "tkf.ink/get_jditems_link/"
        })[goodsItem.platform];
        return {
          param,
          url: this.getTransferUrl ? this.getTransferUrl(goodsItem.platform) : SpaUtils.addProtocol(url)
        };
      },
      /**
       * 商品转链
       * @param e {MouseEvent}
       * @param goodsItem
       * @param {object} listItem
       * @param {string} listItem.value
       * @param {string} listItem.transfer
       * @param {'name'|'code'|'url'} listItem.type
       * @param {true?} isCopy
       */
      handleGoodsTransfer({e, goodsItem, listItem, isCopy}) {
        const {param, url} = this.generateTransferParamAndUrl({listItem, goodsItem});

        if(!isCopy) {
          this.loading = true;
        }

        let result;

        const params = {
          sync: isCopy,
          itemData: listItem,
          url,
          el: e.target,
          data: param,
          copySuccessMsg: goodsItem.platform === PlatformTypes.tb ? "复制淘口令成功，请打开淘宝领取" : "链接复制成功",
          requestCB(res) {
            result = res;
            if(typeof res.data === "object") {
              res.link = res.data.link;
            }
            if(isCopy) {
              return false;
            }
          },
          getCopyTarget(res) {
            if(goodsItem.platform === PlatformTypes.tb) {
              if(typeof res.data === "object") {
                return "0" + res.data.taoword + "/";
              }
              return res.data;
            }
            return res.short_url;
          }
        };
        const utils = window.SdkUtils || window.SpaUtils;
        utils.conversionLink(params).finally(() => this.loading = false);
        return result;
      },
      backTop: function() {
        $("html,body").animate({scrollTop: 0});
      }
    }
  };
})();
    </script>
    <script>
	function getQueryString(name) {  
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); 
      
    var r = window.location.search.substr(1).match(reg);  
    if (r != null) {  
        return unescape(r[2]);  
    }  
    return null;  
}  

var yid = getQueryString("yid")

      const customParams = {
        apikey: "zqapi",//必填
		yid: yid
      }
      function customOpenPage(link) {
        vant.Dialog.confirm({
          message: "是否跳转到下单页面?"
        }).then(() => {
          window.top.location = link;
        });
      }
      new Vue({
        mixins: [indexMixin],
        methods: {
          getListDataParams() {
            return customParams;
          },
          // 列表参数
          getTransferParams: function(isJd) {
            const keys = ["apikey", "yid"] ;
            return {get_taoword: 1, ...tsUtils.pickByKeys(customParams, keys)};
          },
        }
      })
    </script>
  </body>
</html>